<div id="results">
    <div id="result1"><div class="count"></div><div class="bar"></div></div>
    <div id="result2"><div class="count"></div><div class="bar"></div></div>
</div>
<button id="vote1">Vote for 1!</button>
<button id="vote2">Vote for 2!</button>