<h1>A question</h1>
<ol>
<li>Answer 1</li>
<li>Answer 2</li>
</ol>
<h2>Results of poll</h2>
<div id="results">
    <div id="container">
        <div id="result1"><div class="count"></div><div class="bar"></div></div>
        <div id="result2"><div class="count"></div><div class="bar"></div></div>
    </div>
</div>
<div id="controls">
    <button id="vote1">1<span></span></button>
    <button id="vote2">2<span></span></button>
</div>